#{extends 'main.html' /} #{set title:'Import new Transactions' /} #{set 'moreStyles'}
#{/set} #{set 'moreScripts'}
	<script type="text/javascript">
	/* <![CDATA[ */
	 $(document).ready(function(){
	 });
	/* ]]> */
	</script>
#{/set}

#{form @Importer.decode(), id:'uploadForm', enctype:'multipart/form-data'}
<p>
&{'Please choose a csv file with all your transactions'}<br />
<input name="attachment" id="upload" type="file" size="50" maxlength="100000" accept="text/*">
</p>
<br />
<p><input type="submit" value="&{'send'}" /></p>
#{/form}