#{extends 'main.html' /}

<h2>View Transaction</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			value:
		</span>
		<span class="value">
      ${entity.value}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			account:
		</span>
		<span class="value">
      ${entity.account}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			date:
		</span>
		<span class="value">
      ${entity.date}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			mode:
		</span>
		<span class="value">
      ${entity.mode}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			text:
		</span>
		<span class="value">
      ${entity.text}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			involved:
		</span>
		<span class="value">
      ${entity.involved}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			category:
		</span>
		<span class="value">
      ${entity.category}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Transactions.index}">Back</a>

