#{extends 'main.html' /}

<h2>View Rule</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			words:
		</span>
		<span class="value">
      ${entity.words}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			weight:
		</span>
		<span class="value">
      ${entity.weight}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			name:
		</span>
		<span class="value">
      ${entity.name}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			category:
		</span>
		<span class="value">
      ${entity.category}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			user:
		</span>
		<span class="value">
      ${entity.user}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Rules.index}">Back</a>

