#{extends 'main.html' /} 
#{set 'moreScripts'}
*{#{script 'jquery.dataTables.min.js' /}}*
<script type="text/javascript">
$(document).ready(function(){
	$("#accounts td[class!='actions']").click(function () {
		var showTransactions = #{jsAction @Accounts.trasactions(':id') /}
		var showID = $(this).parent().attr("id");
		window.location.href = showTransactions({id : showID});
	});
});
</script>
#{/set}
#{set 'moreStyles'} #{stylesheet 'table.css' /}
#{/set}

<h2>Accounts</h2>

<table id="accounts" class="display entity">
    <thead>
        <tr>
            <th>
                <!-- actions -->
            </th>
            <th>&{'bankname'}</th>
            <th>&{'number'}</th>
            <th>&{'balance'}</th>
            <th>Start Date</th>
        </tr>
    </thead>
    <tbody>
        #{list items:entities, as:'entity'}
        <tr id="${entity.id}">
            <td class="actions"><a href="@{Accounts.show(entity.id)}">Show</a>&nbsp;
                <a href="@{Accounts.edit(entity.id)}">Edit</a>&nbsp; 
                <a href="@{Accounts.delete(entity.id)}"
                onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
            </td>
            <td>${entity.bankname}</td>
            <td>${entity.number}</td>
            <td>${entity.actualBalance()}</td>
            <td>${entity.startDate}</td>
        </tr>
        #{/list}
    </tbody>
</table>

<a href="@{Accounts.create}">Create</a>
